@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: grid;
    position: relative;
    grid-template-columns: 0fr 10fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    width: 98.7vw;
    height: 15vh;
    background-color: #f5f4fc;
    padding-left: 20px;    
}

.navbar {
    color: #7d66ac;
    font-family: 'Righteous', cursive;
}

.navbar img {
    height: 80px;
}

.botao {
    align-items: center;
    border: none;
    width: 6vw;
    height: 5vh;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15pt;
    box-shadow: 2px 2px 5px rgb(182, 181, 181);
    background-color: #7968bf;
    color: #fff;
}

.botao:hover {
    background-color: #826cd8;
}
.navbar h1 {
    margin-left: 10px;
    font-size: 30pt;
}

.fotohome img {
    position: relative;
    width: 100%;
    height: auto;
}

.botaoservico {
    position: absolute;
    margin-left: -1000px;
    margin-top: 400px;
    width: 20vw;
    height: 12vh;
    border: none;
    border-radius: 37px;
    background-color: #7968bf;
    color: #fff;
    font-size: 20pt;
    box-shadow: 2px 2px 8px gray;
}

.botaocadastro {
    position: absolute;
    margin-left: -600px;
    margin-top: 400px;
    width: 20vw;
    height: 12vh;
    border: none;
    border-radius: 37px;
    background-color: #7968bf;
    color: #fff;
    font-size: 20pt;
    box-shadow: 2px 2px 8px gray;
}

.botaocadastro:hover, .botaoservico:hover {
    background-color: #826cd8;
    transition: .3s;
    cursor: pointer;
}